@font-face {
    font-family: 'DIN';
    src: url('../fonts/din/DIN-Light.eot');
    src: url('../fonts/din/DIN-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/din/DIN-Light.woff') format('woff'),
        url('../fonts/din/DIN-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('../fonts/din/DIN-Medium.eot');
    src: url('../fonts/din/DIN-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/din/DIN-Medium.woff') format('woff'),
        url('../fonts/din/DIN-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('../fonts/din/DIN-Black.eot');
    src: url('../fonts/din/DIN-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/din/DIN-Black.woff') format('woff'),
        url('../fonts/din/DIN-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('../fonts/din/DIN.eot');
    src: url('../fonts/din/DIN.eot?#iefix') format('embedded-opentype'),
        url('../fonts/din/DIN.woff') format('woff'),
        url('../fonts/din/DIN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('../fonts/din/DINBold.eot');
    src: url('../fonts/din/DINBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/din/DINBold.woff') format('woff'),
        url('../fonts/din/DINBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
